body{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: rgb(245, 241, 241);
}
a{
    text-decoration: none;
    color: unset;
}
.nav-bar {
    background-color: #00387b;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
}
.titolo {
    color: rgb(231, 225, 225);
    
    font-size: 40px;
}
.primi{
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    position: relative; /* Necessario per l'uso di position absolute nel bottone */
}
.primo,.secondo{
    color: rgb(75, 74, 74);
    margin-top: 100px;
}
.riga{  
    border: 1px solid gray;
    width: 80%;
    margin-bottom: 70px;
}

/* inizio contenitore intera pagina */
.tutto{
    background-color: white;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    position: relative;
    
    
}
.title{
    text-align: center;
    margin: 0;
    color: rgb(75, 74, 74);
    font-size: 40px;
    
}
.giorno{
    margin-left: 20px;
}
.giorno>ul,.giorno>li{
    color: rgb(75, 74, 74);
    font-size: 17px;
}
.giorno>p{
    color: rgb(75, 74, 74);
    font-size: 20px;
}
.giorno>h2{
    color: rgb(75, 74, 74);
    margin-top: 50px;
}
.riga{
    margin-top: 60px;
}
.end{
    height: 300px;
    width: 100%;
    background-color: #00387b;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.titoloend{
    color: rgb(231, 225, 225);
    
   
    margin-top: 50px;
    font-size: 50px;
}



.barra,.barra2{
    position: absolute;
    width: 100px;
    height: 2500px;
    background-color: #00387b;

}


.barra{
    top: 390px;
    right: 25px;
}

.barra2{
    top: 390px;
    left: 25px;
}